mixin formRow(type, name, id, labelText, required)
  div.row
    label(for=name).tb-label #{labelText}
    if isRequired
      span.required
        input(name=name id=id type=type).tb-input
    else
      input(name=name id=id type=type).tb-input
      
mixin formTextArea(name, id, labelText)
  div.row
    label(for=name).tb-label #{labelText}
    br
    textarea(name=name id=id).tb-textarea

mixin dateRow(name, labelText, required)
  - var isRequired = required;
  div.row
    label(for=name).tb-label #{labelText}
    if isRequired
      span.required
        input(type='date' name=name).tb-input
    else
      input(type='date' name=name).tb-input

mixin buttonRow(type, name, id, buttonText)
  div.row
    button(type=type name=name id=id action=action method=method).tb-button #{buttonText}

mixin form(action, method)
  form(action=action method=method).tb-form
