mixin formRow(type, name, id, labelText, required)
  .row
    label(for=name).tb-label.col.three #{labelText}
    if isRequired
      span.required
        input(name=name id=id type=type).tb-input.col.nine
    else
      input(name=name id=id type=type).tb-input.col.nine
      
mixin formTextArea(name, id, labelText)
  .row
    label(for=name).tb-label #{labelText}
    br
    textarea(name=name id=id).tb-textarea

mixin dateRow(name, labelText, required)
  - var isRequired = required;
  .row
    label(for=name).tb-label.date.col.three #{labelText}
    if isRequired
      span.required
        input(type='date' name=name).tb-input.date.col.five
    else
      input(type='date' name=name).tb-input.date.col

mixin checkboxRow(value, name, id, labelText)
  .row
    label(for=name) #{labelText}
    input(type='checkbox' value=value name=name id=id)

mixin hiddenAuthorRow(name, id, value)
  .row
    input(type='hidden' name='author' id='author' value=user._id)

mixin buttonRow(type, name, id, buttonText)
  .row
    button(type=type name=name id=id action=action method=method).tb-button #{buttonText}
